*{
  box-sizing: border-box;
}

body{
  background: url("https://i.imgur.com/fm0r6Q0.png") no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

  padding: 15px;
}

/* cover page */
.coverPage{
  text-shadow: 0px 2px 0 black;
  font-weight: 900;
  margin-bottom: 10px;
}


.coverPage h1{
  font-size: 65px;
}

.board{
  font-weight: bold;
  font-size: 40px;
   display: none;
  list-style: none;
}

/* start button */
#start{
  width: 110px;
  height: 110px;
  background-color: #F14A41;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0, 0.5);
  font-size: 35px;
}


/* start button hover */
#start:hover{
  background-color: #ce2727;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.5);
}


/* question and score */
ul {
   list-style: none; 
}
/* box with questions */
.questionBox{
  display: none;
}
/* question */
.questions h2{
  font-size: 55px;
  font-weight: 900;
  text-shadow: 0px 2px 0 black;
  border: 3px solid rgb(0, 0, 0, 0.5);
}

/* question image */
img{
  width: 45%;
  border: 4px solid white;
}

/* answers */
fieldset{
  display: flex;
  flex-direction: column;
  border: none;
}



/* answer labels */
label{
  border: 1px solid black;
  color: white;
  width: 45%;
  height: 65px;
  font-size: 40px;
  cursor: pointer;
  /* position */
  display: block;
  margin: 0 auto;
  
}


label:hover{
  background-color: #111e6c;
  font-size: 50px;
  font-weight: bold;
}

label:active, input:focus {
  appearance: none;
  background: #57A0D3;
  
}

/* background for answers */
.first-answer{
  background-color: #163780;
}

.second-answer{
  background-color: #1034a6;
}

.third-answer{
 background-color: #0f52ba;
}

.fourth-answer{
 background-color:  #0E4D92;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input:checked {
    border: 8px solid#F79862;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

button{
  width: 45%;
  height: 50px;
  padding-bottom: 5px;
  background: #4682B4;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  border: 2px solid black;
  background-color: #73C2FB;
}

/* next button making wider */
.next-btn{
  width: 100%;
  border-radius: 5%;
}

/* feedback */
.feedback{
  /* sizing */
  width: 50%;
  border: 1px solid black;
  border-radius: 5%;
  background-color: cornflowerblue;
  padding: 15px;
  /* position */
  display: block;
  margin: 0 auto;
}

/* review end of quiz */
.review{
  border: 1px solid black;
  border-radius: 5%;
  width: 50%;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(15, 82, 186, 1) 0%, rgba(0, 128, 155, 1) 100%);
  /* postion */
  display: block;
  margin: auto;
}